body {
    font-family: 'Rye', cursive;
    font-size: 190%;
    background-color: black;
    color: red;
    text-align: center;
}

main {
    margin: auto;
}

#guesses-remaining {
    color: gold;
}

#try-again {
    display: none;
}

#white {
    color: white;
}

#small {
    font-size: 50%;
}